.footer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-weight: 100;
  font-size: 0.75rem;
  a {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    font-weight: 100;
    font-size: 0.75rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
